@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@*http://www.stavroskasidis.com/blog/2019/blazor-simple-state-management/*@

<Sol_Demo.Pages.Demo.MyCounter></Sol_Demo.Pages.Demo.MyCounter>